#alertBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 120px;
    font-size: 20px;
    padding: 20px;
    width: 600px;
    position: absolute;
    background-color: hsl(600,var(--sat),calc(var(--lightness) + 15%),var(--alpha));
    top: 200px;
    font-family: var(--font-family);
    opacity: 0;
    z-index: -99;
    visibility: hidden;
}
#alertTitle{
    font-size: 25px;
    color: white;
}
#alert-reset-button{
    background-color: hsl(600,var(--sat),calc(var(--lightness) + 25%),var(--alpha));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 250px;
    cursor: pointer;
    color: white;
    transition: background-color 300ms linear,
    color 250ms linear;
}
#alert-reset-button:hover{
    color: black;
    background-color: hsl(200,var(--sat),calc(var(--lightness) + 15%),var(--alpha));
}