:root{
    --hue: 220;
    --sat: 100%;
    --lightness: 40%;
    --alpha: 95%;
    --background-color: hsl(var(--hue),var(--sat),var(--lightness),var(--alpha));
    --font-family: monospace;
    background-color: var(--background-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
